/* https://raw.githubusercontent.com/janhajk/blocks/7d0cb539bd4a69f6f1d0c932ef5ffcf13854afd2/public/styles.css */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);
.clf:after,
.clf:before {
      content: '';
      display: table
}

.clf:after {
      clear: both
}

html {
      font-size: 14px
}

body {
      overflow-x: hidden;
      font-family: 'Open Sans', sans-serif;
      background-color: #f1f1f1;
      color: #333
}

a {
      cursor: pointer;
      color: #3498db
}

a:focus,
a:hover {
      text-decoration: none;
      color: #1d6fa5
}

a.link {
      color: inherit
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
      font-weight: 400
}

h6 {
      font-weight: 600
}

.h1 sup,
h1 sup {
      top: -10px
}

.h2 sup,
h2 sup {
      font-size: 20px;
      top: -7px
}

.h3 sup,
h3 sup {
      font-size: 16px;
      top: -5px
}

small {
      font-size: 85%
}

a:focus,
button:focus,
input:focus,
select:focus {
      outline: 0
}

canvas,
img,
input,
textarea {
      max-width: 100%
}

button.reset {
      border: 0;
      background-color: inherit;
      padding: 0;
      outline: 0
}

strong {
      font-weight: 600
}

b {
      font-weight: 700
}

dt {
      font-weight: 700
}

mark {
      padding: 1px 2px
}

code {
      color: #cb4a4e;
      background-color: #f7f8f8
}

pre {
      position: relative;
      border: none;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      margin-top: 10px;
      padding: 12px;
      background: #f0f0f0
}

pre code {
      white-space: pre;
      display: block;
      overflow-x: auto
}

.collapse.in {
      display: block
}

body.fullscreen-mode {
      overflow-y: hidden
}


.help-block {
      display: block;
      font-size: 13px;
      margin-bottom: 0;
      margin-top: 2px
}

.has-success .form-control,
.has-success .form-control:focus {
      border-color: #2ecc71
}

.has-success .col-form-label,
.has-success .control-label,
.has-success .input-icon>i {
      color: #2ecc71
}

.has-warning .form-control,
.has-warning .form-control:focus {
      border-color: #f39c12
}

.has-warning .col-form-label,
.has-warning .control-label,
.has-warning .input-icon>i {
      color: #f39c12
}

.has-error .form-control,
.has-error .form-control:focus {
      border-color: #e74c3c
}

.has-error .col-form-label,
.has-error .control-label,
.has-error .error,
.has-error .help-block,
.has-error .input-icon>i {
      color: #e74c3c
}

.help-block.error {
      color: #e74c3c
}




.img-circle {
      -webkit-border-radius: 50%;
      border-radius: 50%
}


.widget-stat .ibox-body {
      padding: 12px 15px
}

.widget-stat-icon {
      position: absolute;
      top: 0;
      right: 0;
      width: 60px;
      height: 100%;
      line-height: 100px;
      text-align: center;
      font-size: 30px;
      background-color: rgba(0, 0, 0, .1)
}

.static-widget {
      display: inline-block;
      width: 120px;
      height: 120px;
      text-align: center;
      padding: 15px
}

.static-widget i {
      display: inline-block;
      margin-bottom: 15px;
      font-size: 36px
}

.widget-dark-progress {
      background: rgba(0, 0, 0, .1)
}

.widget-dark-progress .progress-bar {
      background-color: #e9ecef
}

.widget-dark-badge {
      background: rgba(0, 0, 0, .2)
}


@-webkit-keyframes collapseMenu {
      from {
            width: 60px
      }
      to {
            width: 100%
      }
}

@-webkit-keyframes fadeInUp {
      0% {
            opacity: 0;
            -webkit-transform: translateY(20px);
            transform: translateY(20px)
      }
      100% {
            opacity: 1;
            -webkit-transform: translateY(0);
            transform: translateY(0)
      }
}

@-webkit-keyframes heartbit {
      0% {
            -webkit-transform: scale(0);
            opacity: 0
      }
      25% {
            -webkit-transform: scale(.1);
            opacity: .1
      }
      50% {
            -webkit-transform: scale(.5);
            opacity: .3
      }
      75% {
            -webkit-transform: scale(.8);
            opacity: .5
      }
      100% {
            -webkit-transform: scale(1);
            opacity: 0
      }
}

@-webkit-keyframes loader-rotate {
      to {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg)
      }
}

.fade-in-up {
      -webkit-animation: fadeInUp .5s;
      animation: fadeInUp .5s
}

@media screen and (max-width:980px) {
      .video embed,
      .video iframe,
      .video object {
            width: 100%;
            height: auto;
            min-height: 300px
      }
}

@media screen and (max-width:768px) {
      body:not(.sidebar-mini):not(.drawer-sidebar) .dashboard-wrapper {
            margin-left: 0
      }
}

@media screen and (max-width:650px) {
      .video embed,
      .video iframe,
      .video object {
            min-height: 250px
      }
}


.no-margin {
      margin: 0!important
}

.no-padding {
      padding: 0!important
}

.m-t-0 {
      margin-top: 0!important
}

.m-t-5 {
      margin-top: 5px!important
}

.m-t-10 {
      margin-top: 10px!important
}

.m-t-15 {
      margin-top: 15px!important
}

.m-t-20 {
      margin-top: 20px!important
}

.m-b-0 {
      margin-bottom: 0!important
}

.m-b-5 {
      margin-bottom: 5px!important
}

.m-b-10 {
      margin-bottom: 10px!important
}

.m-b-15 {
      margin-bottom: 15px!important
}

.m-b-20 {
      margin-bottom: 20px!important
}

.m-r-5 {
      margin-right: 5px!important
}

.m-r-10 {
      margin-right: 10px!important
}

.m-r-15 {
      margin-right: 15px!important
}

.m-r-20 {
      margin-right: 20px!important
}

.m-l-5 {
      margin-left: 5px!important
}

.m-l-10 {
      margin-left: 10px!important
}

.m-l-15 {
      margin-left: 15px!important
}

.m-l-20 {
      margin-left: 20px!important
}

.p-b-5 {
      padding-bottom: 5px!important
}

.p-b-10 {
      padding-bottom: 10px!important
}

.p-b-20 {
      padding-bottom: 20px!important
}

.p-r-5 {
      padding-right: 5px!important
}

.p-r-10 {
      padding-right: 10px!important
}

.p-r-20 {
      padding-right: 20px!important
}

.p-l-5 {
      padding-left: 5px!important
}

.p-l-10 {
      padding-left: 10px!important
}

.p-l-20 {
      padding-left: 20px!important
}

.p-t-5 {
      padding-top: 5px!important
}

.p-t-10 {
      padding-top: 10px!important
}

.p-t-20 {
      padding-top: 20px!important
}

.font-13 {
      font-size: 13px
}

.font-14 {
      font-size: 14px
}

.font-15 {
      font-size: 15px
}

.font-16 {
      font-size: 16px
}

.font-17 {
      font-size: 17px
}

.font-18 {
      font-size: 18px
}

.font-20 {
      font-size: 20px
}

.font-26 {
      font-size: 26px
}

.font-light {
      font-weight: 300!important
}

.font-normal {
      font-weight: 400!important
}

.font-strong {
      font-weight: 600!important
}

.font-bold {
      font-weight: 700!important
}

.link-blue {
      color: inherit
}

.link-blue:focus,
.link-blue:hover {
      color: #3498db!important
}

.link-green {
      color: inherit
}

.link-green:focus,
.link-green:hover {
      color: #2ecc71!important
}

.color-white {
      color: #fff!important
}

.color-green {
      color: #2ecc71!important
}

.color-blue {
      color: #3498db!important
}

.color-orange {
      color: #f39c12!important
}

.color-red {
      color: #e74c3c!important
}

.color-blue-light {
      color: #23b7e5!important
}

.color-purple {
      color: #7e57c2!important
}

.color-ebony {
      color: #34495f!important
}

.color-silver {
      color: #bdc3c7!important
}

.color-inherit {
      color: inherit!important
}

.text-primary {
      color: #3498db!important
}

.text-success {
      color: #2ecc71!important
}

.text-info {
      color: #23b7e5!important
}

.text-warning {
      color: #f39c12!important
}

.text-danger {
      color: #e74c3c!important
}

.text-muted {
      color: #999!important
}

.text-white {
      color: #fff!important
}

a.text-primary:focus,
a.text-primary:hover {
      color: #258cd1!important
}

a.text-info:focus,
a.text-info:hover {
      color: #19a9d5!important
}

a.text-success:focus,
a.text-success:hover {
      color: #29b765!important
}

a.text-warning:focus,
a.text-warning:hover {
      color: #e08e0b!important
}

a.text-danger:focus,
a.text-danger:hover {
      color: #e43725!important
}

.uppercase {
      text-transform: uppercase!important
}

.centered {
      float: none;
      margin-left: auto;
      margin-right: auto
}

.p-relative,
.rel {
      position: relative!important
}

.p-absolute {
      position: absolute!important
}

.v-middle {
      vertical-align: middle
}

.border-0 {
      border: 0!important
}

.hidden {
      display: none
}

.flexbox {
      display: -webkit-box!important;
      display: -webkit-flex!important;
      display: -ms-flexbox!important;
      display: flex!important;
      -webkit-box-pack: justify!important;
      -webkit-justify-content: space-between!important;
      -ms-flex-pack: justify!important;
      justify-content: space-between!important;
      -webkit-box-align: center!important;
      -webkit-align-items: center!important;
      -ms-flex-align: center!important;
      align-items: center!important
}

.flexbox-b {
      display: -webkit-box!important;
      display: -webkit-flex!important;
      display: -ms-flexbox!important;
      display: flex!important;
      -webkit-box-align: center!important;
      -webkit-align-items: center!important;
      -ms-flex-align: center!important;
      align-items: center!important
}

.flex-1 {
      -webkit-box-flex: 1!important;
      -webkit-flex: 1!important;
      -ms-flex: 1!important;
      flex: 1!important
}


.dropdown-menu-media .dropdown-menu-header {
      padding: 12px 15px;
      font-size: 13px;
      border-bottom: 1px solid #ddd
}

.envelope-badge {
      position: absolute;
      right: 6px;
      top: 5px;
      height: 16px;
      min-width: 16px;
      line-height: 16px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      padding: 0
}

@media screen and (max-width:580px) {
      .dropdown-user>a>span,
      .header .search-toggler span {
            display: none
      }
      .dropdown-user>a>img {
            margin-left: 0!important
      }
}



body:not(.fixed-layout).sidebar-mini .content-wrapper {
      margin-left: 60px
}

body:not(.fixed-layout).sidebar-mini .page-sidebar {
      width: 60px
}

body:not(.fixed-layout).sidebar-mini .page-brand {
      width: 60px
}

body:not(.fixed-layout).sidebar-mini .brand {
      display: none
}

body:not(.fixed-layout).sidebar-mini .brand-mini {
      display: block!important
}

body:not(.fixed-layout).sidebar-mini .side-menu li.heading {
      display: none
}

body:not(.fixed-layout).sidebar-mini .side-menu li .sidebar-item-icon {
      font-size: 18px;
      text-align: center
}

body:not(.fixed-layout).sidebar-mini .side-menu li .arrow {
      display: none
}

body:not(.fixed-layout).sidebar-mini .side-menu li .nav-2-level {
      display: none;
      position: absolute;
      top: 43px;
      left: 60px;
      min-width: 200px;
      padding-left: 0
}

body:not(.fixed-layout).sidebar-mini .side-menu li .nav-2-level ul {
      padding-left: 0
}

body:not(.fixed-layout).sidebar-mini .side-menu li .nav-2-level li a {
      padding-left: 20px
}

body:not(.fixed-layout).sidebar-mini .side-menu li .nav-3-level>li>a {
      padding-left: 27px
}

body:not(.fixed-layout).sidebar-mini .side-menu>li>a>.nav-label {
      display: none
}

body:not(.fixed-layout).sidebar-mini .side-menu>li:hover>a {
      overflow: visible;
      width: 260px
}

body:not(.fixed-layout).sidebar-mini .side-menu>li:hover>a>.nav-label {
      display: block;
      padding-left: 50px
}

body:not(.fixed-layout).sidebar-mini .side-menu>li:hover .nav-2-level {
      display: block;
      height: auto!important;
      opacity: 1;
      visibility: visible
}

body:not(.fixed-layout).sidebar-mini .admin-block {
      padding: 15px 12px
}

body:not(.fixed-layout).sidebar-mini .admin-block .admin-info {
      display: none
}

body.fixed-layout.sidebar-mini .page-brand,
body.fixed-layout.sidebar-mini .page-sidebar {
      margin-left: -220px;
      visibility: hidden
}

body.fixed-layout.sidebar-mini .content-wrapper {
      margin-left: 0
}


body.empty-layout .theme-config,
body.empty-layout .to-top {
      display: none!important
}

body.fixed-layout .header,
body.fixed-navbar .header {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      z-index: 1002
}

body.fixed-layout .content-wrapper,
body.fixed-navbar .content-wrapper {
      padding-top: 56px
}

body.fixed-layout .page-sidebar {
      position: fixed;
      top: 56px;
      bottom: 0;
      margin-top: 0;
      padding-bottom: 100px
}

body.boxed-layout {
      max-width: 1200px;
      margin: 0 auto
}

body.boxed-layout.fixed-layout .header,
body.boxed-layout.fixed-navbar .header {
      max-width: 1200px;
      margin: 0 auto
}



.shined {
      z-index: 1005!important
}

body.has-backdrop .backdrop {
      pointer-events: auto;
      opacity: 1
}




.sidebar-mini .side-menu>li:hover>a {
      background-color: #3498db;
      color: #fff
}

.sidebar-mini .side-menu>li:hover .nav-2-level {
      background-color: #253544
}


.legendLabel {
      padding-left: 5px
}

.flotTip {
      -webkit-border-radius: 0!important;
      border-radius: 0!important;
      background-color: #323232!important;
      border: 1px solid #323232!important;
      opacity: .8;
      color: #fff
}

.jqstooltip {
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
      border: 0!important
}

table.dataTable {
      width: 100%!important
}

.fc-event {
      padding: 4px 6px;
      background-color: #3498db;
      color: #fff!important;
      border: 0
}

#external-events .ex-event {
      padding: 5px 10px;
      margin: 5px 0;
      cursor: move
}


.bootstrap-timepicker-widget .bootstrap-timepicker-hour,
.bootstrap-timepicker-widget .bootstrap-timepicker-meridian,
.bootstrap-timepicker-widget .bootstrap-timepicker-minute,
.bootstrap-timepicker-widget .bootstrap-timepicker-second {
      border: 0;
      background: 0 0;
      outline: 0!important;
      -webkit-box-shadow: none;
      box-shadow: none
}

.note-editor.note-frame {
      -webkit-border-radius: 0;
      border-radius: 0;
      border-color: #ddd
}

.note-toolbar {
      background-color: #f2f2f2!important
}

.note-btn,
.note-btn:hover,
.open .note-btn.dropdown-toggle {
      background-color: #fff
}

.note-color .dropdown-menu>li>.btn-group {
      display: table-cell!important;
      padding: 5px
}

.note-popover.popover {
      display: none
}

.jvectormap-goback,
.jvectormap-zoomin,
.jvectormap-zoomout {
      background: #3498db
}

.adminca-banner {
      display: block;
      padding: 15px;
      background-image: -webkit-linear-gradient(315deg, #2cc4cb, #18c5a9);
      background-image: -o-linear-gradient(315deg, #2cc4cb, #18c5a9);
      background-image: linear-gradient(135deg, #2cc4cb, #18c5a9);
      position: relative;
      max-width: 1260px
}

.wrap-1,
.wrap-2 {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex
}


.dev-img {
      position: absolute;
      right: 0;
      bottom: 0
}

@media (max-width:1230px) {
      .adminca-banner {
            display: inline-block
      }
      .wrap-1 {
            display: block
      }
      .wrap-2 {
            margin-bottom: 20px
      }
      .dev-img {
            position: static
      }
      .wrap-3 {
            -webkit-box-pack: start!important;
            -webkit-justify-content: start!important;
            -ms-flex-pack: start!important;
            justify-content: start!important
      }
}
